body {
    background-color: rgb(109, 106, 106)
}

.title {
    color: white;
    font-family: Avenir Next;
    text-decoration: underline;
    font-size: 3em;
    text-align: center;

}

.col{
    background-color: rgb(216, 216, 216);
    font-family: Avenir Next;
    font-size: 1em;
    color: rgb(0, 139, 163);
    font-weight: bold;
    border-radius: .8em;
    padding: 1em
}
.col-left{
    float: left;
    display: flex;
    min-width: 45%;
    height: 25em;
    
}

.col-right{
    float: right;
    display: flex;
    min-width: 45%;
    height: 20em;
}